@import "../../mixins.scss";

.about {
    padding-top: 170px;
    padding-bottom: 80px;
    text-align: center;
    color: white;

    h1 {
        font-family: "PoppinsSemiBold", sans-serif;
        padding-bottom: 60px;
        opacity: 0.8;
    }

    p {
        font-family: "PoppinsExtraLight", sans-serif;
        opacity: 0.7;
        padding: 20px;
        line-height: 30px;
    }
}