@import "../../../mixins.scss";

.readmore {
    width: 100%;
    font-size: 13px;
    opacity: 0.9;

    @include md {
        font-size: 15px;
    }

    .read-or-hide {
        span {
            cursor: pointer;
            opacity: 0.7;
            font-size: 12px;

            @include md {
                font-size: 14px;
            }
        }
    }
}