@import "../../mixins.scss";

.terms {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 10px;
    opacity: 0.9;
    padding: 170px 30px 100px 10px;

    .title {
        margin-bottom: 50px;
        font-family: "PoppinsSemiBold", sans-serif;
    }

    .main {
        opacity: 0.8;
        font-size: 13px;
        font-family: "PoppinsLight", sans-serif;
    }

    .span {
        font-size: 14px;
    }

    .para {
        padding-left: 10px;

        .abc {
            margin-bottom: 10px;
        }

        .bcd {
            margin-bottom: 80px;
        }

        a {
            text-decoration: none;
            font-size: 13px;
        }

        ul {
            li {
                margin-bottom: 20px;
            }
        }

        .purpose {
            margin-bottom: 40px;
            opacity: 0.8;
        }

        h3 {
            margin-top: 70px;
            margin-bottom: 50px;
            opacity: 0.8;
        }

        h4 {
            margin-top: 40px;
            margin-bottom: 40px;
            opacity: 0.8;
        }

        p {
            opacity: 0.7;
            font-size: 13px;
            font-family: "PoppinsLight", sans-serif;
            line-height: 24px;

            strong {
                font-size: 14px;
            }
        }

    }
}