@import "../../../mixins.scss";

.noTV {
    color: white;

    .carouselTitle {
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .notAvailableText {
        font-size: 14px;
        margin-top: 130px;
        margin-bottom: 130px;
        text-align: center;
        line-height: 26px;

        @include md {
            font-size: 18px;
        }
    }
}