.pageNotFound {
    height: 700px;
    padding-top: 200px;

    .contentWrapper {
        text-align: center;
        color: var(--black-light);
        display: flex;
        flex-direction: column;

        .button {
            width: 150px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
        }

        .bigText {
            font-size: 150px;
            font-weight: 700;
        }

        .smallText {
            font-size: 44px;
        }
    }
}