.circleRating {
    background-color: var(--black);
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;

    .CircularProgressbar-text {
        font-size: 34px;
        font-weight: 700;
        fill: var(--black);
    }

    .CircularProgressbar-background {
        color: var(--black);
    }

    .CircularProgressbar-trail {
        stroke: transparent;

        &:hover {
            padding: 0px;
        }
    }

    .CircularProgressbar-path {
        fill: var(--black);

        &:hover {
            padding: 0px;
        }
    }

    &:hover {
        padding: 2px;
        transition: all 0.2s ease-in-out;
    }
}