@import "../../mixins.scss";

.about {
    min-height: 650px;
    padding-top: 170px;
    display: flex;
    flex-direction: column;

    .para {
        gap: 10px;
        color: white;
        padding: 10px 0px 50px 50px;

        .title {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 50px;
            font-family: "PoppinsSemiBold", sans-serif;
        }
    }


}